<mdb-card>
    <mdb-card-header class="modal-header text-center app-text-color">
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Password Reset</h4>
    </mdb-card-header>

    <mdb-card-body class="px-lg-5">
        <form [formGroup]="resetPwdForm" class="text-center">
            <small class="form-text text-muted my-2">
                Your password must be atleast 8 characters long, contain letters (small and uppercase), special characters and
                numbers, and must not contain spaces.
            </small>
            <div class="text-left md-form mb-5">
                <input id="password" type="password" class="form-control mt-2" mdbInput mdbValidate formControlName="password">
                <label for="password">New Password</label>
                <mdb-error *ngIf="isNewPasswordInvalid">
                    <small *ngIf="isNewPasswordRequired" class="form-text text-danger mb-4 ">Please enter a password</small>
                    <small *ngIf="isNewPasswordWeak" class="form-text text-danger mb-4 ">Weak Password</small>
                  </mdb-error>
                  <mdb-success *ngIf="!isNewPasswordInvalid && !isNewPasswordRequired && !isNewPasswordWeak">
                    <small class="form-text text-success mb-4 ">Strong Password</small>
                  </mdb-success>
            </div>
            <div class="text-left md-form mb-5">
                <input id="confirmPassword" type="password" class="form-control mt-2" mdbInput mdbValidate formControlName="confirmPassword">
                <label for="confirmPassword">Confirm New Password</label>
                <mdb-error *ngIf="isConfirmPasswordInvalid">
                    <small *ngIf="isConfirmPasswordRequired" class="form-text text-danger mb-4 ">Please confirm password</small>
                    <small *ngIf="isPasswordNotMatch" class="form-text text-danger mb-4 ">Password do not match</small>
                </mdb-error>
                <mdb-success *ngIf="!isConfirmPasswordInvalid && !isConfirmPasswordRequired && !isPasswordNotMatch">
                    <small class="form-text text-success mb-4 ">Password match</small>
                </mdb-success>
            </div>
            <button mdbBtn color="info" outline="true" rounded="true" block="true" 
                      class="z-depth-0 waves-effect mb-3" mdbWavesEffect [disabled]="!resetPwdForm.valid || loading" (click)="resetPassword()">
                      <span *ngIf="!loading">Reset Password</span>
                      <span *ngIf="loading">
                        <i class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></i> Reseting Password...</span>
              </button>
        </form>
    </mdb-card-body>
</mdb-card>