 <section id="intro" class="intro">  
    <div class="mask flex-center d-flex justify-content-center align-items-center">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row flex-center pt-3 mt-3">
                <div class="col-md-12 col-sm-12 col-lg-6 text-center">
                    <h1 class="h1-responsive font-weight-bold wow fadeInLeft animated app-text-color" 
                        data-wow-delay="0.3s" 
                        style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                        Welcome to Drop
                    </h1> 
                    <hr />
                    <h6 class="wow fadeInLeft animated" data-wow-delay="0.3s"
                        style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                        We value you, Guranteed Security for your belongings We value you
                        We offer convenience, gurantee security for your belongs. Drop, we take care of it
                    </h6>
                    <br />
                    <a class="btn btn-danger wow fadeInLeft waves-effect waves-light animated btn-rounded"
                        data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;"
                        target="_blank" href="#">
                        Google Store
                    </a>
                    <button class="btn btn-outline-default wow fadeInLeft waves-effect waves-light animated btn-rounded"
                        data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;"
                        mdbBtn color="default" mdbWavesEffect data-toggle="modal" data-target="#basicExample"
                        (click)="signup()">
                        Register Now
                    </button>
                    <!-- <a class="btn btn-outline-default wow fadeInLeft waves-effect waves-light animated btn-rounded"
                        data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;"
                        routerLinkActive="active" routerLink="/register/step1">
                        Register Now
                    </a> -->
                </div>  
                <div class="col-md-12 col-sm-12 col-lg-6 mt-md-0 d-flex justify-content-center">
                    <img class="img-fluid wow fadeInDown animated" data-wow-delay="0.3s" style="animation-name: fadeInDown; animation-delay: 0.3s;" src="../../../../assets/images/drop_app_home.png" alt="Drop Mobile App" />
                </div>          
            </div>
        </div>
    </div>
</section>

<section id="whydrop" class="whydrop my-5 nvb-bg">
    <div class="container">
        <h3 class="h3-responsive text-center mt-5">Why Drop?</h3>
        <hr class="line-shape" />
        
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 text-center">
                <i class="fas fa-2x fa-key app-text-color wow fadeInUp animated" data-wow-delay="0.3s"
                style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.3s;">
                    Safety    
                </i>
                <hr />
                <h6 class="wow fadeInLeft animated" data-wow-delay="0.3s"
                        style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                        Drop has been developed to modernise the informal Drop-And-Pick later operations by ensuring Security and Convenience on the items. You get to locate a nearest safe store to leave your items/belongings to be collected later. 
                            It is easy method of making sure your items are secure, when you need to leave them and pick later.
                </h6>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 text-center">
                <i class="fas fa-2x fa-chair app-text-color wow fadeInUp animated" data-wow-delay="0.3s"
                style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.3s;">
                    Convenience    
                </i>
                <hr />
                <h6 class="wow fadeInLeft animated" data-wow-delay="0.3s"
                        style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                        When you need to live an item and pick later, You are Always able to search for a nearest store. Drop enables you carry on other activities while we keeping your items safe.
                </h6>
            </div>
        </div>

    </div>
</section>

<section id="howitworks" class="howitworks py-5">
    <div class="container">
        <h3 class="h3-responsive text-center mt-5">How It works</h3>
        <hr class="line-shape" />

        <div class="row">
          <div class="col-lg-4 text-center text-lf-left">

            <h5>Select Shops Near You.</h5>
            <img class="img-fluid wow fadeInLeft animated" data-wow-delay="0.3s"
              style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;"
              src="../../../../assets/images/drop_app_home.png"
              alt="Drop Application">
          </div>
          
          <div class="col-lg-4 text-center text-lf-left">
            <h5>Fill Item Details and Drop.</h5>
            <img class="img-fluid wow fadeInLeft animated" data-wow-delay="0.3s"
              style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;"
              src="../../../../assets/images/drop_app_item_info.png"
              alt="Drop Application">
          </div>
          
          <div class="col-lg-4 text-center text-lf-left">
            <h4>Pick item.</h4>
            <img class="img-fluid wow fadeInLeft animated" data-wow-delay="0.3s"
              style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;"
              src="../../../../assets/images/drop_app_item_info_pay.png"
              alt="Drop Application">
          </div>
        </div>
    </div>
</section>

<section id="drop" class="drop my-5 nvb-bg">
    <div class="container">
        <h3 class="h3-responsive text-center mt-5">Drop</h3>
        <hr class="line-shape" />
        
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-12 text-center">
                <hr />
                <h6 class="wow fadeInLeft animated" data-wow-delay="0.3s"
                        style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                        Drop has been developed to modernise the informal Drop-And-Pick later operations by ensuring Security and Convenience on the items. You get to locate a nearest safe store to leave your items/belongings to be collected later. 
                            It is easy method of making sure your items are secure, when you need to leave them and pick later.
                </h6>
            </div>
        </div>
        
    </div>
</section>

<section id="store" class="store my-5 nvb-bg">
    <div class="container">
        <h3 class="h3-responsive text-center mt-5">Store</h3>
        <hr class="line-shape" />
        
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-12 text-center">
                <hr />
                <h6 class="wow fadeInLeft animated" data-wow-delay="0.3s"
                        style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                        Drop has been developed to modernise the informal Drop-And-Pick later operations by ensuring Security and Convenience on the items. You get to locate a nearest safe store to leave your items/belongings to be collected later. 
                            It is easy method of making sure your items are secure, when you need to leave them and pick later.
                </h6>
            </div>
        </div>
        
    </div>
</section>

<section id="footer">

    <footer class="page-footer text-center text-md-left blue-grey lighten-5 pt-0">
  
      <div class="app-color">
        <div class="container">
          <div class="row py-4 d-flex align-items-center">
  
          </div>
        </div>
      </div>

      <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">
  
          <div class="col-md-5 col-lg-4 col-xl-3 mb-4 dark-grey-text">
            <p>
              
            </p>
          </div>
  
          <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
          </div>
  
          <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
          </div>
  
          <div class="col-md-5 col-lg-3 col-xl-3 dark-grey-text">
            <h6 class="text-uppercase font-weight-bold"><strong>Contact Us</strong></h6>
            <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><i class="fas fa-home mr-3"></i> Nairobi,CBD</p>
            <p><i class="fas fa-globe-africa mr-3"></i> www.techminia.com </p>
            <p><i class="fas fa-phone mr-3"></i> +254 701 706937</p>
          </div>
  
        </div>
      </div>
  
      <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
          Copyright © Techminia, 2019, All rights reserved.
        </div>
      </div>
  
    </footer>
</section>
