<!--Double navigation-->
<section id="private_section" class="nav-md">
  <div id="container" class="body">
      <div class="main_container">
        <topnav-bar class="fixed-top"></topnav-bar>
        <side-bar></side-bar> 
        <!-- <router-outlet></router-outlet> -->
        <!-- <section id="private-main">
          <h1>PRIVATE WORKS</h1>
        </section>       -->
        <div id="private_main">
          <router-outlet></router-outlet>
          <!-- <h1>PRIVATE WORKS</h1> -->
        </div>
      </div>
  </div>
</section>
