<!-- <header class="h-100"> -->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar nvb-bg">
        <mdb-navbar-brand>
            <a class="navbar-brand waves-light" routerLink="/home">
                <img src="../../../assets/images/mcrb.png" class="img-fluid cb_logo_width" alt="Drop">
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link waves-effect waves-light" routerLinkActive="active"
                     [routerLink]="['/home']" fragment="intro">
                    Home
                    </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <!-- Why Drop -->
                    <a class="nav-link waves-effect waves-light" routerLinkActive="active" [routerLink]="['/home']"
                        fragment="whydrop">
                        Why Drop?
                    </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <!-- How it works -->
                    <a class="nav-link waves-effect waves-light" routerLinkActive="active" [routerLink]="['/home']"
                       fragment="howitworks">
                        How it works
                    </a>
                </li>
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        Products
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="">
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/home']" fragment="drop">
                            <!-- <i class="fa fa-user mr-2"></i> -->
                            Drop
                        </a>
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/home']" fragment="store">Store</a>
                    </div>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link waves-effect waves-light" routerLinkActive="active" [routerLink]="['/home']"
                      fragment="footer">
                      Contact Us
                    </a>
                  </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-sm btn-rounded waves-effect mx-3 px-4 btn-danger"
                        data-toggle="modal" data-target="#basicExample"
                        mdbBtn mdbWavesEffect [routerLink]="['/login']">
                        <i class="fas fa-sign-in-alt"></i>Log in
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-rounded waves-effect mx-3 px-4"
                        mdbBtn color="default" mdbWavesEffect data-toggle="modal" data-target="#basicExample"
                        [routerLink]="['/register']">
                        <i class="fas fa-user-plus"></i>Register Now
                    </button>
                </li>
            </ul>
        </links>
    </mdb-navbar>
<!-- </header> -->

<section id="main-section">
    <router-outlet></router-outlet>
</section>

<div style="overflow-y: auto" mdbModal #loginModal="mdbModal" class="modal fade" id="frameModalTop"
 tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-md cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header mdb-tabcolor darken-3 white-text">
        <h4 class="title">
          <mdb-icon fas icon="user"></mdb-icon>Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" 
        (click)="loginModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body text-center">
        <div class="card ">
            <div class="card-body pt-0">
                <form [formGroup]="loginForm">
                    <div class="md-form text-center">
                        <input id="username" type="text" class="form-control mt-2" mdbInput 
                        mdbValidate formControlName="username">
                        <label for="username">Email/Phone</label>
                        <mdb-error *ngIf="isInvalidUsername">Username Required</mdb-error>
                    </div>
                    <div class="md-form text-center">
                        <!-- <i class="fa fa-asterisk prefix"></i> -->
                        <input id="password" type="password" class="form-control mt-2" mdbInput 
                        mdbValidate formControlName="password">
                        <label for="password">Password</label>
                        <mdb-error *ngIf="isInvalidPassword">Please enter a password</mdb-error>
                    </div>
                    <div class="text-center mb-3">
                        <button mdbBtn color="info" outline="true" rounded="true" block="true" 
                            class="z-depth-0 waves-effect mb-5" mdbWavesEffect type="submit" 
                            [disabled]="!loginForm.valid">Login
                        </button>
                        <a href="#" class="blue-text d-flex justify-content-end mt-4 ml-1">
                            Forgot Password?</a>
                         <p class="d-flex justify-content-end mt-4">Not a member? 
                           <a role="button" class="blue-text" (click)="loginModal.hide(); signUp()">Sign Up</a>
                       </p>
                    </div>                   
                </form>
            </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm btn-rounded waves-effect mx-3 px-4" mdbBtn ronded="true" data-dismiss="modal"
            (click)="loginModal.hide()" mdbWavesEffect>
            Close
        </button>
       </div>

    </div>
    <!--/.Content-->

  </div>
</div>

<div style="overflow-y: auto" mdbModal #signupModal="mdbModal" class="modal fade" id="frameModalTop"
 tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-lg cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header mdb-tabcolor darken-3 white-text">
        <h4 class="title">
          <mdb-icon fas icon="user-plus"></mdb-icon>Register</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" 
        (click)="signupModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body mb-1 text-center">
        <div class="card ">
            <div class="card-body pt-0">
                <form [formGroup]="signupForm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="md-form text-center mr-0 pr-0">
                                <input id="first_name" type="text" class="form-control"  mdbInput
                                    mdbValidate formControlName="first_name">
                                <label for="first_name">First Name</label>   
                                <mdb-error *ngIf="isInvalidFirstName">Please enter your first name</mdb-error>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="md-form text-center">
                                <input id="last_name" type="text" class="form-control"  mdbInput
                                    mdbValidate formControlName="last_name">
                                <label for="last_name">Last Name</label>   
                                <mdb-error *ngIf="isInvalidLastName">Please enter your Last name</mdb-error>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="md-form text-center">
                                <input id="other_name" type="text" class="form-control"  mdbInput
                                    mdbValidate formControlName="other_name">
                                <label for="other_name">Other Name</label>   
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="md-form text-center">
                                <input id="identity_number" type="text" class="form-control mt-2"  mdbInput
                                    mdbValidate formControlName="identity_number">
                                <label for="identity_number">Identity Number</label>   
                                <mdb-error *ngIf="isInvalidIdNo">Please enter your national Identity Number</mdb-error>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="md-form text-center mr-0 pr-0">
                                <input id="mobile_number" type="text" class="form-control mt-2"  mdbInput
                                    mdbValidate formControlName="mobile_number">
                                <label for="mobile_number">Mobile Number</label> 
                                <mdb-error *ngIf="isInvalidMobileNo">Please enter valid mobile number</mdb-error>  
                            </div>
                        </div>
                    </div>
                    <div class="md-form text-center">
                        <input id="email_address" type="tel" class="form-control mt-2"  mdbInput
                            mdbValidate formControlName="email_address">
                        <label for="email_address">Email Address</label> 
                        <mdb-error *ngIf="isInvalidEmail">Please enter valid email address</mdb-error>  
                    </div>
                    <div class="text-center form-sm mt-2">
                        <!-- <button mdbBtn color="info" class="waves-light" mdbWavesEffect (click)="signUp()">
                            Sign up
                        </button> -->
                        <button mdbBtn color="info" outline="true" rounded="true" block="true" 
                            class="z-depth-0 waves-effect mb-5" mdbWavesEffect type="submit" 
                            [disabled]="!signupForm.valid">Sign up
                        </button>
                        <p class="pt-1">Already have an account?
                            <a role="button" class="blue-text" (click)="signupModal.hide(); singIn()">Log In</a>
                        </p>
                    </div>            
                </form>
            </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm btn-rounded waves-effect" mdbBtn 
        ronded="true" data-dismiss="modal"
            (click)="signupModal.hide()" mdbWavesEffect>
            Close
        </button>
       </div>

    </div>
    <!--/.Content-->

  </div>
</div>